{{#if images}}
<img class="card-img-top" src="{{this.images.1.url}}" alt="{{this.name}}">
{{else}}
<img class="card-img-top" src="./images/no-image.png" alt="No image available">
{{/if}}
<h5 class="card-title pt-2 font-weight-bold">{{this.name}}</h5>