<section class="albums-info">
    {{#each albums}}
    <div class="card text-center text-white bg-secondary pb-2 mb-4" style="width: 18rem;">
        {{> artistPartial this}}
        <div class="tracks">
            <a href="/tracks/{{this.id}}" class="btn btn-primary">View Tracks</a>
        </div>
    </div>
    {{/each}}
</section>