<section class="search-page">
    <form id="artist-search" action="/artist-search" method="GET">
        <input type="text" name="search" id="search-input" class="form-control" />
        <button type="submit" id="search-button">Search for an Artist</button>
    </form>
</section>